//########################
//##### Boards Index #####
//########################
@import "_includes/_variables";
@import "_includes/_global";
@import "_includes/_loading";
@import "_includes/_general-layout";
@import "_includes/_main_menu";
@import "_includes/_mobile_menu";
@import "_includes/_meta";
@import "_includes/_footer";
@import "_includes/_discuss";


.board-index-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  font-weight: $light;
  color: $white;
  padding:0.85em 0.75em 0.6em 0.75em;
  position: relative;
  z-index: 10;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  @include ani;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;

  strong{
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin:0 0.5em 0 0;
  }

  &:nth-child(odd){
    &:before{
      background: $blue;
    }
  }
  &:nth-child(even){
    &:before{
      background: $darkerblue;
    }
  }

  &.m-only{
    &:nth-child(odd){
      &:before{
        background: $blackfade1;
      }
    }
    &:nth-child(even){
      &:before{
        background: $blackfade2;
      }
    }
  }

  &:before{
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    content: "\00a0";
    z-index: -2;
    @include ani;
  }
  &:after{
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    content: "\00a0";
    z-index: -1;
    opacity: 0.8;
  }

  &:hover{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    &:before{
      background: $darkgreen;
    }

    &.m-only{
      &:nth-child(odd){
        &:before{
          background: $darkgreen;
        }
      }
      &:nth-child(even){
        &:before{
          background: $darkgreen;
        }
      }
    }
  }
}





.topic-index{
  @include ani;

  p{
    font-weight: $light;
    font-family: $font2;
    font-size: 1.2em;
    color: $darkgrey;
    @include ani;
    padding:10px 10px 5px 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
    transform: scale(1)rotate(360.01deg)translateX(0em);
  }
  .meta{@include ani;background-color:$bggrey;}
  &:hover{
    p{
      color: $darkerblue;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    }
    .meta{
      background-color:$greychild;
    }
  }
}




.content-block-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding:3em 0 3em 0;
  position: relative;
  @include border-radius;
  overflow:hidden;
  @include shadow_on;

  &:before{
    @include bg_gradient;
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    content: "\00a0";
    z-index: -3;
  }
  .board-hero-image{
    @include bgcover;
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -2;
    opacity: 0.6;
  }
  &:after{
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    content: "\00a0";
    z-index: -1;
    opacity: 1;
  }
}

.content-block-hero-content{
  display: block;
  text-align: center;
  width:50%;
  position: relative;
  z-index: 1;

  p{
    color: $white;
    font-family: $font;
    font-weight: $medium;
    font-size: 1.1em;
    @include text-shadow;
    text-transform: uppercase;
  }
}





.meta-link.bread{
  padding:8px 0.65em 6px 0.25em!important;
  &:first-of-type{
    padding:8px 0.75em 6px 0.75em!important;
  }
  &:last-of-type{
    .bread_crumb_link{&:after{display: none!important;}}
  }
}
.bread_crumb_link{
  position: relative;
  z-index: 11;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;

  &:after{
    content:'\203A';
    display: flex;
    position: absolute;
    top:0;
    right:0em;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 15;
    @include ani;
    transform: translateX(0.6em);
  }
}







// small devices (max-width: 450px) - xs
  .content-block-hero{
    margin: 0 0 10px 0;
  }

// Medium devices - md
@media all and (min-width: 700px) {
  .content-block-hero{
    margin: 0 0 10px 0;
  }
}

// Large devices- lg
@media all and (min-width: 950px) {
  .content-block-hero{
    margin: 0 0 20px 0;
  }
}

// Extra large devices - xl
@media all and (min-width: 1200px) {

}











//
